/* Псевдокласи */
:root{
background-color: antiquewhite;
}
p:before {
	content: "До тексту: ";
}
p:after {
	content: " Після тексту.";
}

/* Анімація */
@keyframes change-border {
	0% { border: 1px solid black; }
	50% { border: 3px solid blue; }
	100% { border: 1px solid black; }
}
.links {
	border: 1px solid black;
    width: 270px;
    height: 90px;
	animation: change-border 3s infinite;
    display: flex;
}

/* Вирівнювання в флекс моделі */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Лінійний градієнт */
h1 {
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* 3D трансформація */
img {
	transform: rotateY(45deg);
}

/* Відносне позиціювання */
.relative {
	position: relative;
	top: 20px;
	left: 20px;
}

/* Фіксоване позиціювання */
.fixed {
	position: fixed;
	top: 10px;
	right: 10px;
}

/* Застосування стилів до Html документу */
table {
	border-collapse: collapse;
}
td {
	padding: 10px;
}
